<section class="flyout flyout-closed">
  <header class="flyout-header">
    <div class="d-flex justify-content-between">
      <a href="#" class="flyout-close icon-link">
          <%= image_tag("burger-menu.svg", alt: "Icon JumpInTram")%>
      </a>
    </div>

    <div class="flyout-header-content d-flex flex-column aling-items-center text-center">
      <div class="avatar-center">
        <%= image_tag ("faviconjumpin.png"), class: "avatar", alt: "Icon JumpInTram" %>
      </div>
      <% if user_signed_in?  %>
        <span class="text-header">Content de te revoir !</span>
        <span ><%= current_user.email %></span>
      <% else %>
        <%= link_to "Se connecter", new_user_session_path, class: "text-header" %>
        <span>Bienvenue sur JumpIn Bordeaux</span>
      <% end %>
    </div>

  </header>


  <div class="flyout-links">

    <%= link_to lines_path do %>
      <i class="fas fa-directions"></i> Trouver un arrêt
    <% end %>


    <% if !user_signed_in?  %>
      <%= link_to new_user_session_path do %>
        <i class="fas fa-sign-in-alt"></i> Se connecter
      <% end %>
      <%= link_to "Créer un compte", new_user_registration_path %>
      <p class="favorites-text">En te créant un compte tu pourras enregistrer tes arrêts préférés dans "mes favoris" et y avoir accès rapidement</p>
    <% else %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fas fa-sign-out-alt"></i> Se déconnecter
      <% end %>
    <% end %>

    <div>
      <%= link_to add_to_home_screen_path do %>
        <i class="fas fa-mobile-alt"></i> Ajouter JumpIn sur l'écran d'acceuil
      <% end %>
      <%= link_to new_message_path  do %>
        <i class="far fa-comment-dots"></i> Aidez-nous à améliorer JumpIn
      <% end %>
    </div>

  </div>

  <div class="flyout-bottom">
    Made with love by JumpIn Team
  </div>


  <div class="flyout-shadow flyout-close"></div>
</section>



