<section class="flyout flyout-closed">
  <header class="flyout-header">
    <div class="d-flex justify-content-between">
      <a class="flyout-close icon-link" href="#">
          <%= image_tag("burger-menu.svg")  %>
      </a>
    </div>

    <div class="flyout-header-content">
      <% if user_signed_in?  %>
        <span class="float-left">Content de te revoir !</span>
        <span class="float-right"><%= current_user.email %></span>
      <% else %>
        <span>Bienvenue sur Jump In</span>
      <% end %>
    </div>

  </header>


  <div class="flyout-links">

    <%= link_to "Trouver un arrêt", lines_path %>


    <% if !user_signed_in?  %>
      <%= link_to "Se connecter", new_user_session_path %>
      <%= link_to "Créer un compte", new_user_registration_path %>
      <p class="favorites-text">Sans compte, les arrêts sont sauvegardés dans vos cookies. Pour sauvegarder definitivement un arrêt, créez vous un compte.</p>
    <% else %>
      <%= link_to "Se déconnecter",  destroy_user_session_path, method: :delete %>
    <% end %>

    <div>
      <%= link_to "Aidez-nous à améliorer JumpIn", new_review_path %>
    </div>

  </div>

  <div class="flyout-bottom">
    Made with love by JumpIn Team
  </div>


  <div class="flyout-shadow flyout-close"></div>
</section>



