<% content_for(:title, "Se connecter") %>

<div class="log-in-form-container">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email", class: "form-input mt-n2" } %>
      <%= f.input :password,
                  required: false,
                  label: 'Mot de passe',
                  input_html: { autocomplete: "current-password", class: "form-input mt-n2"  } %>
      <%= f.input :remember_me, as: :hidden, input_html: { value: '1' } if devise_mapping.rememberable? %>
      <span>Restez connectée, pour accèder directement sur vos favoris la prochaine</span>
    </div>

    <div class="form-actions form-actions-log-in">
      <button type="button" class="btn btn-red btn-lg">
        <%= f.button :submit, "Se connecter" %>
      </button>
    </div>
  <% end %>
  <div class="forget-password">
    <%= render "devise/shared/links" %>
  </div>
  <div>
    Pas encore de compte ? <%= link_to "Créez votre compte", new_user_registration_path %>
  </div>
</div>
