<h1>New Review Jump In</h1>

<h3>Nouveau message de <%= @user_email %></h3>

<h4>Comment pouvons-nous améliorer Catch-Me?</h4>
<p>
  <%= @body %>
</p>

<h4>Qu'appréciez vous dans notre application?</h4>
<p>
  <%= @like %>
</p>

<h4>Combien de fois utilisez-vous Catch-Me par semaine?</h4>
<p>
  <%= @frequencies %>
</p>

<h4>Recommanderiez-vous Catch-Me à un amis?</h4>
<p>
  <%= @recommendation %>
</p>
