<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="/manifest.json">
    <%= render 'application/favicon' %>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="https://res.cloudinary.com/dcssvcmls/image/upload/v1570458079/jumpintram/imgawaiting/640x1336.png" sizes="640x1136" rel="apple-touch-startup-image" />

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <%= render 'layouts/google_analytics' %>
  </head>

  <body class="<%= content_for(:body_class) %>">
    <% if content_for? :nav %>
      <%= content_for :nav %>
    <% else %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flyout' %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/nav-bottom' %>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
